html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    letter-spacing: 0.25rem;
}

@font-face {
    font-family: 'pokemon_solidnormal'; 
    src: url('pokemon_solid-webfont.woff2') format('woff2'),
         url('pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.float-left {
    float: right;
}

#header {
    background-color: #CC0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h1 {
    padding: 0px;
    display: inline-block;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #3b4cca;
    -webkit-font-smoothing: antialiased;
    font-size: 100px;
    width: 100%;
    letter-spacing: 10px;
    color: yellow;
}

#header #navbar {
    width: 25%;
    color: yellow;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    text-align: right;
}

#header #navbar ul li {
    padding-top: 20px;
}

body{
    font-family: 'pokemon_solidnormal';
    background-color: #e7e7e6;
    margin-right: 0px;
    line-height: 3rem;
}

div{
}

#team-pokemon{
    border-radius: 25px;
}


a {
    text-decoration: none;
    color: yellow;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3b4cca;
    letter-spacing: 5px;

}

a:hover{
    color: #707ddd;
}


#search-input {
    width: 20%;
    height: 41px;
    text-align: center;
}

#add-to-team {
    width: 93px;
    height: 93px;
    background-color: #CC0000;
    color: yellow;
}

#dropdown-links {
    display: none;
    overflow: hidden;
}

#dropdown-links a {
    display: block;
    font-size: 1.5rem;
}

#dropbtn {
    width: 4rem;
    height: 4rem;
    background-color: #c84848;

}

#dropbtn:hover{
    background-color: #CC0000;
}


#dropdown:hover #dropdown-links {
    display: block;
}

.dropdown-content {
    width: 20rem;
    border: 1px solid #3b4cca
}


@media screen and (min-width:1619px) {
    #dropdown {
        display: none;
    }

}

@media screen and (max-width:1619px){
    #header h1 {
        line-height: 8rem;
        width: 6rem;
        -webkit-text-stroke-width: .15rem;
    }

    #header #navbar ul {
        display: none;
    }

    #dropbtn {
        height: 20rem;
        width: 20rem;
        font-size: 15rem;
    }

}
@media screen and (max-width: 768px){
    #search-input {
        width: 90%;
    }

    #search-bar {
        padding-right: 3rem;
        display: block;
    }
}



@media screen and (max-width: 1023px) {
    #header h1 {
        font-size: 3rem;
        line-height: 4rem;
        width: 6rem;
        -webkit-text-stroke-width: .1rem;
    }

    #header #navbar h1 {
        width: 100%;
    }

    #dropbtn {
        height: 8rem;
        width: 8rem;
        font-size: 4rem;
        
    }

}

@media screen and (max-width: 436px){
    #search-input {
        width: 80%;
    }

    #header h1 {
        font-size: 1.75rem;
        line-height: 4rem;
        width: 1rem;
        -webkit-text-stroke-width: .1rem;
        letter-spacing: .15rem;
    }
}


<div id="pokemon-sprite"></div>
<div id="pokedex-info"></div>
<div id="pokemon-name"></div>
<div id="weak-against"></div>
<div id="strong-against"></div>
<div id="pokemon-fact"></div>
<div id="add-to-team"></div>
<div id="first-pokemon"></div>
<div id="second-pokemon"></div>
<div id="third-pokemon"></div>
<div id="fourth-pokemon"></div>
<div id="fifth-pokemon"></div>
<div id="sixth-pokemon"></div>

