html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    letter-spacing: 0.25rem;
    -webkit-font-smoothing: antialiased;

}

@font-face {
    font-family: 'pokemon_solidnormal'; 
    src: url('pokemon_solid-webfont.woff2') format('woff2'),
         url('pokemon_solid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.float-left {
    float: right;
}

#header {
    background-color: #CC0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h1 {
    padding: 0px;
    display: inline-block;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #3b4cca;
    -webkit-font-smoothing: antialiased;
    font-size: 100px;
    width: 100%;
    letter-spacing: 10px;
    color: yellow;
}

#header #navbar {
    width: 25%;
    color: yellow;
    font-size: 35px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    text-align: right;
}

#header #navbar ul li {
    padding-top: 20px;
}

body{
    font-family: 'pokemon_solidnormal';
    background-color: #e7e7e6;
    margin-right: 0px;
    line-height: 3rem;
}

div{
}

#team-pokemon1{
    border-radius: 25px;
}
#team-pokemon2{
    border-radius: 25px;
}
#team-pokemon3{
    border-radius: 25px;
}
#team-pokemon4{
    border-radius: 25px;
}
#team-pokemon5{
    border-radius: 25px;
}
#team-pokemon6{
    border-radius: 25px;
}
#info {
    line-height: 3rem;
}



a {
    text-decoration: none;
    color: yellow;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #3b4cca;
    letter-spacing: 5px;

}

a:hover{
    color: #707ddd;
}


#search-input {
    width: 90%;
    height: 41px;
    text-align: center;
}

#add-to-team {
    width: 125px;
    height: 125px;
    background-color: #CC0000;
    color: yellow;
    font-family: "pokemon_solidnormal";
    letter-spacing: .1rem;
    justify-content: center;
    -webkit-text-stroke-width: .05rem;
    -webkit-text-stroke-color: #3b4cca;
    font-size: 1.25rem;
}


#remove-from-team1, #remove-from-team2, #remove-from-team3, #remove-from-team4, #remove-from-team5, #remove-from-team6 {
    width: auto;
    height: auto;
    background-color: #CC0000;
    color: yellow;
    font-family: "pokemon_solidnormal";
    letter-spacing: .1rem;
    justify-content: center;
    -webkit-text-stroke-width: .15rem;
    -webkit-text-stroke-color: #3b4cca;
    font-size: 2rem;
}

#add-to-team:active, #remove-from-team1:active, #remove-from-team2:active, #remove-from-team3:active, #remove-from-team4:active, #remove-from-team5:active, #remove-from-team6:active {
    background-color: #900707;
}

#dropdown-links {
    display: none;
    overflow: hidden;
}

#dropdown-links a {
    display: block;
    font-size: 1.5rem;
}

#dropbtn {
    width: 4rem;
    height: 4rem;
    background-color: #c84848;

}

#dropbtn:hover{
    background-color: #CC0000;
}


#dropdown:hover #dropdown-links {
    display: block;
}

.dropdown-content {
    width: 20rem;
    border: 1px solid #3b4cca
}

#team-pokemon1-text, #team-pokemon1-text2, #team-pokemon2-text, #team-pokemon2-text2, #team-pokemon3-text, #team-pokemon3-text2, 
#team-pokemon4-text, #team-pokemon4-text2, #team-pokemon5-text, #team-pokemon5-text2, #team-pokemon6-text, #team-pokemon6-text2 {
    font-size: 2rem;
}

@media screen and (min-width:1619px) {
    #dropdown {
        display: none;
    }

}

@media screen and (max-width:1619px){
    #header h1 {
        line-height: 8rem;
        width: 6rem;
        -webkit-text-stroke-width: .15rem;
    }

    #header #navbar ul {
        display: none;
    }

    #dropbtn {
        height: 20rem;
        width: 20rem;
        font-size: 15rem;
    }

}

@media screen and (max-width: 768px){
    #search-input {
        width: 90%;
    }

    #search-bar {
        padding-right: 3rem;
        display: block;
    }
}

@media screen and (max-width: 1023px) {
    #header h1 {
        font-size: 3rem;
        line-height: 4rem;
        width: 6rem;
        -webkit-text-stroke-width: .1rem;
    }

    #header #navbar h1 {
        width: 100%;
    }

    #dropbtn {
        height: 8rem;
        width: 8rem;
        font-size: 4rem;
        
    }

}

@media screen and (max-width: 436px){
    #search-input {
        width: 80%;
    }

    #header h1 {
        font-size: 1.75rem;
        line-height: 4rem;
        width: 1rem;
        -webkit-text-stroke-width: .1rem;
        letter-spacing: .15rem;
    }
}

@media screen and (max-width:550px){
    #team-pokemon1-text, #team-pokemon1-text2, #team-pokemon2-text, #team-pokemon2-text2, #team-pokemon3-text, #team-pokemon3-text2, 
    #team-pokemon4-text, #team-pokemon4-text2, #team-pokemon5-text, #team-pokemon5-text2, #team-pokemon6-text, #team-pokemon6-text2 {
        font-size: 1rem;
    }

    #remove-from-team1, #remove-from-team2, #remove-from-team3, #remove-from-team4, #remove-from-team5, #remove-from-team6 {
        height: 24px;
        width: 24px;
        font-size: .5rem;
        -webkit-text-stroke-width: .05rem;
    }

}

#total-team {
    line-height: 1rem;
}

#total-team h1 {
    font-size: 2rem;
}

#pokedex-name {
    font-size: 2rem;
}

#pokemon-info {
    border-radius: 25px;
}

#pokemon-info p {
    font-size: 1.5rem;
    line-height: 4rem;
}

#weak-against p {
    font-size: 1.25rem;
}

#weak-against ul li {
    font-size: 1rem;
}

#weak-against {
    border-radius: 25px;
}
#strong-against {
    border-radius: 25px;
}

#strong-against p {
    font-size: 1.25rem;
}

#matchup-columns {
    justify-content: space-around;
}

